---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<Layout title="Portfolio - Léa Marchand" description="Je suis la metadescription">
<Header /> 
<body>

</body>
<Footer />
</Layout>