---
import Mentionslegales from "../components/Mentionslegales.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout title="Mentions Légales" description="Je suis la metadescription">
    <Header /> 
  <main>
    <Mentionslegales/>
  </main>
  <Footer />