---
---
<footer class="w-full m-0 top-0 z-50">
  <div class="menu">
    <div class="little-menu">
      <nav>
        <ul>
          <li><a href="#portfolio">Mon portfolio</a></li>
          <li><a href="#parcours">Mon parcours</a></li>
          <li><a href="#savoir-faire">Mes savoir-faire</a></li>
          <li><a href="#competences">Mes compétences</a></li>
        </ul>
      </nav>
    </div>
    <div class="contact">
      <p class="tel">06 40 37 26 29</p>
      <p class="mail">mrhndlea15@gmail.com</p>
    </div>
  </div>
  <div class="mentions">
      <a class="text-xs" href="/mentionslegales">Mentions légales</a>
      <a class="text-xs" href="#">Politique de confidentialité</a>
      <a class="text-xs" href="#">Création et réalisation : Léa Marchand, tous droits réservés</a>
  </div>
</footer>
  
<style>
 footer {
  background-color: #FB8500;
  color: #FBFBFF;
  padding: 15px;
  overflow: visible;}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;}
.little-menu nav ul {
  display: flex;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-style: normal;}
.little-menu nav ul li {
  list-style: none;
  margin-right: 20px;
  text-decoration: none;
  color: #FBFBFF;}
.little-menu nav ul li a{
  text-decoration: none;
  color: #FBFBFF;}
.little-menu nav ul li a:hover {
  color: #023047;}
.contact {
  display: flex;
  margin-right: 60px;
  font-family: "Hind", sans-serif;
  font-weight: 500;
  font-style: normal;}
.contact .tel{
  margin-right: 15px;}
.mentions {
  display: flex;
  margin-left: 50px;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-style: normal;}
.mentions a {
  color: #FBFBFF;;
  margin-right: 15px;
  text-decoration: none;}
.mentions a:hover {
  color: #023047;}
.mentions a:visited{
  color: #FBFBFF;}
  
  @media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
  @media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }
} 

</style>
