---
---

<section class="mentionslegales">
    <div></div>
    <h1>Mentions Légales</h1>

    <p>En vigueur à partir du : <span id="effective-date">[Date d'effet des mentions légales]</span></p>

    <h2>Présentation du site :</h2>
    <p>Propriétaire : Léa Marchand<br>
    Email : mrhndlea15@gmail.com<br>
    Responsable publication : Marchand Léa<br>
    Hébergeur : OVHcloud<br>
</div>
</section>
    <script>
        // Mettez à jour la date d'effet
        document.getElementById('effective-date').innerText = new Date().toLocaleDateString('fr-FR');
    </script>

<style>
    h1 {
        color: #333;
    }
    p {
        line-height: 1.6;
        color: #666;
    }
</style>

