---
---
<section id="savoir-faire">

<div class="container py-6 to-blackblue texte">
  <p class="title">Mes savoir-faire</p> 
</div>
<div class="container">
  <div class="rectangle">
    <div class="content">
      <img src="/pack.png" alt="picto packaging">
      <div class="text">
        <p class="titre">Création packaging</p>
        <p class="legend">Créer un design pour la sortie d'un produit.</p>
      </div>
    </div>
  </div>
<div class="rectangle">
  <div class="content">
    <img src="/video.png" alt="picto video">
    <div class="text">
      <p class="titre">Montage vidéo</p>
      <p class="legend">Montage de vidéo sur Adobe Premiere Pro.</p>
    </div>
  </div>
</div>
<div class="rectangle">
  <div class="content">
    <img src="/jeux.png" alt="picto jeux">
    <div class="text">
      <p class="titre">Création de jeux</p>
      <p class="legend">Création de jeux de société personalisés (ex. Dobble).</p>
    </div>
  </div>
</div>

<div class="rectangle">
  <div class="content">
    <img src="/flyer.png" alt="picto marques">
    <div class="text">
      <p class="titre" >Création de marques</p>
      <p class="legend">Création de chartes graphiques ou une mise à jour.</p>
    </div>
  </div>
</div>
<div class="rectangle">
  <div class="content">
    <img src="/charte.png" alt="picto imprimés">
    <div class="text">
      <p class="titre">Création d'imprimés</p>
      <p class="legend">Flyers, dépliants, affiches sur la suite Adobe.</p>
    </div>
  </div>
</div>
<div class="rectangle">
  <div class="content">
    <img src="/site.png" alt="picto sites">
    <div class="text">
      <p class="titre">Création de sites</p>
      <p class="legend">Création de sites internet sur VSCode (débutante).</p>
    </div>
    </div>
</div>
</section>

<style>
    .title {
      font-family: 'Expletus Sans', sans-serif;
      font-size: xx-large;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;}
    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;}
    .text{
      padding: 15px;
    }
    .titre{
      font-family: "Hind", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .legend{
      font-family: "Hind", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .row {
     display: flex;
     justify-content: space-between;
     width: 100%;}
    .rectangle {
     flex: 0 0 calc(33.33% - 20px);
     margin-bottom: 20px;
     border: 2px solid #c4c4c4;
     border-radius: 10px;
     box-sizing: border-box;}
    img {
     max-width: 20%;
     margin-left: 20px;}
</style>